<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        
        <table style="background-color: #ffffff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #4a4a4a;" width="100%">
            <tr>
                <td height="8" style="background-color: yellow;"></td>
            </tr>
            <tr>
                <td style="padding: 20px; padding: 0; border-bottom: 2px solid grey">
                    
                    <p style="font-size: 3rem; letter-spacing: 0.5rem; text-align: center;">AGREEMENT</p>
                </td>

            </tr>

            <tr>
                
                <td style="padding: 5px 0; width: 75%;
                border:0;
                border-bottom: 2px solid grey;
                margin: 1.2rem 0;">

                    <table width="100%">
                        <tr>
                            <td style="padding: 10px;">
                                    
                                <p style=" font-size: 1rem;
                                font-family: sans-serif;
                                line-height: 1.5rem; text-align: justify;">
                                    I, <b>{{name}}</b>, with email/ user id, <b>{{email}}</b> , have choosen the plan of <b>{{plan}}</b>, along with the type of plan <b>{{type_of_plan}}</b> during registration. I accept this agreement in the presence of my instructor, and agree to comply with all the polcies and terms and conditions. I agree to pay the amount <b>Rs. {{price}}</b>  that has been fixed for the plan that I have opted for during the registration.
                                </p>
                
                            </td>
                        </tr>
                            <tr>
                            <td style="padding: 10px;">

                                <p class="agreement-contents"><b>This agreement is valid,</b></p>
                                <p class="agreement-contents"><b>From : {{accept}} </b></p>
                                <p class="agreement-contents"><b>To : {{expire}} </b></p>

                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 10px;">

                                <p class="agreement-contents"> {{name}}</p>
                                <p class="agreement-contents"><b>Signature of the user</b></p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>


</body>
</html>