{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Pannel | Dashboard</title>

    
    <script src="https://kit.fontawesome.com/2b3aa8f23b.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link rel="icon"href="{% static 'images/favicon.svg' %}">
</head>
<body>
    
<div class="control-wrapper">
        <div class="control-header">
            <img src="{% static 'images/confidentdriverheader400.svg' %}" alt="" class="logo">
            
            <div class="logout-btn">
                <a href="{% url 'logout' %}">LOGOUT</a>
            </div>
        </div>


        {% include 'control_nav_bar.html' %}

        <div class="dashboard-contents">
            <div class="staff-name">
                <p class="staff-user-name">
                    Hello, {{request.user.full_name}}
                </p>
            </div>

            <div class="analytics-container">
                
                <div class="analytics-box visitor-today">
                    <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures"> {{visitor_today}} </p>
                        </div>
                        
                        <p class="analytics-heading">
                            Visits Today
                        </p>
                    </div>
                </div>
                
                <div class="analytics-box monthly-visitor">
                    <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures"> {{current_month_visitor}} </p>
                        </div>
                        
                        <p class="analytics-heading">
                            Visits This Month
                        </p>
                    </div>
                </div>
                
                <div class="analytics-box yearly-visitor">
                    <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures"> {{current_year_visitor}} </p>
                        </div>
                        
                        <p class="analytics-heading">
                            Visits This Year
                        </p>
                    </div>
                </div>

                <div class="analytics-box all-users-today">
                   <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures">{{all_users_bydate}}</p>
                        </div>

                        <p class="analytics-heading">
                            Users Joined Today
                        </p>
                   </div>
                </div>

                <div class="analytics-box current-month-users">
                    <div class="analytics-content">
                         
                         <div class="blob">
                             <p class="figures">{{current_month_user}}</p>
                         </div>
 
                         <p class="analytics-heading">
                             Users This Month
                         </p>
                    </div>
                 </div>

                <div class="analytics-box all-users">
                    <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures">{{all_users}}</p>
                        </div>
                        
                        <p class="analytics-heading">
                            Total Users
                        </p>
                    </div>
                </div>

                <div class="analytics-box all-contracts">
                    <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures">{{all_contracts}}</p>
                        </div>
                        
                        <p class="analytics-heading">
                            Total Contracts Signed
                        </p>
                    </div>
                </div>

                <div class="analytics-box contacts-signed-today">
                    <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures">{{contract_signed_today}}</p>
                        </div>
                        
                        <p class="analytics-heading">
                            Contracts Signed Today
                        </p>
                    </div>
                </div>

                <div class="analytics-box contracts-expiring-today">
                    <div class="analytics-content">
                        
                        <div class="blob">
                            <p class="figures">{{contract_expire_today}}</p>
                        </div>
                        
                        <p class="analytics-heading">
                            Contracts Expiring Today
                        </p>
                    </div>
                </div>
            </div>            
        
        </div>
</div>

</body>
</html>