<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        
        <table style="background-color: #ffffff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #4a4a4a;" width="100%">
            <tr>
                <td height="8" style="background-color: yellow;"></td>
            </tr>
            <tr>
                <td style="padding: 20px; padding: 0; border-bottom: 2px solid grey">
                    
                    <p style="font-size: 3rem; letter-spacing: 0.5rem; text-align: center;">Thank You</p>
                </td>

            </tr>

            <tr>
                
                <td style="padding: 5px 0; width: 75%;
                border:0;
                border-bottom: 2px solid grey;
                margin: 1.2rem 0;">

                    <table width="100%">
                        <tr>
                            <td style="padding: 10px;">
                                    
                                <p style=" font-size: 1rem;
                                font-family: sans-serif;
                                line-height: 1.5rem; text-align: justify;">
                                    Sir/ Madam, <b>{{name}}</b>, your contract with us is expiring today. Thank you for choosing us. We hope that you liked our service. Please do recommend us to your friends and family.
                                </p>
                
                            </td>

                        <tr>
                            <td style="padding: 10px;">

                                <p class="agreement-contents"> With regards from,</p>
                                <p class="agreement-contents"><b>The Confident Driver Team.</b></p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>


</body>
</html>