{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confident Driver | Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/forget_password.css' %}">

</head>
<body>


    <h1>PASSWORD RESET</h1>
    <p>Enter your registered email address to recieve a link in your email.</p>


<form method="POST">
    {% csrf_token %}
    <label>EMAIL: </label>
    {{form.email}}<br>
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>