{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>

    
    <script src="https://kit.fontawesome.com/2b3aa8f23b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">


</head>
<body>

<!--------------------------------------  OTP SECTION  ------------------------------------------------------------------------->




<!-------------------------------------- END OF OTP SECTION  ------------------------------------------------------------------------->


<!--------------------- REGISTER FORM ------------------------------->

<div class="register-wrapper">
    <div class="register-header">
        <a href="/"><img class="logo" src="{% static 'images/demo-logo-01.svg' %}" alt="logo"></a>
    </div>

    <div class="register-main-container">
        {% if messages %}
                <div class="register-message-container">
                    {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                </div>
        {% endif %}

        <div class="register-form-container">
            
            <form method="POST" >
                <p>PERSONAL DETAILS</p>
                {% csrf_token %}

                <div class="register-form-group">
                    <input class="register-form-control" type="text" id="first_name" name="first_name" maxlength="255" style="text-transform:uppercase" placeholder="name" required />
                    <label class="register-form-label" for="first_name">NAME</label>
                </div>

                <div class="register-form-group">
                    <input class="register-form-control" type="email" id="email" name="email"  placeholder="This will be your User ID" style="text-transform:lowercase" required />
                    <label class="register-form-label" for="email">EMAIL (This will be your UserID)</label>
                </div>

                <div class="register-form-group">
                    <input class="register-form-control" type="tel" id="phone" name="phone" maxlength="10" pattern="[0-9]{10}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="phone no"  required />
                    <label class="register-form-label" for="phone">YOUR PHONE NUMBER</label>
                </div>

                <div class="register-form-group">
                    <input class="register-form-control" type="text" id="address" name="address" maxlength="255" style="text-transform:uppercase" placeholder="address" required />
                    <label class="register-form-label" for="address">ADDRESS(Your pick-up and droping location)</label>
                </div>

                <div class="button-container">
                  
                    <button class="nav-btn">Next &nbsp<i class="fas fa-caret-right"></i></button>
                </div>
              
            </form>
        </div>
    </div>
































</div>



<!--------------------- END FOR REGISTER FORM ------------------------------->



</body>
</html>