{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Pannel | Staff Info</title>
    <link rel="stylesheet" href="{% static 'css/staffList.css' %}">
    <link rel="icon" href="{% static 'images/confidentdriver_icon.svg' %}">
</head>
<body>
<div class="staff-list-wrapper">
    <div class="staff-list-header">
        <img src="{% static 'images/confidentdriverheader400.svg' %}" alt="" class="logo">
        
        <div class="logout-btn">
            <a href="{% url 'logout' %}">LOGOUT</a>
        </div>
    </div>

    {% include 'control_nav_bar.html' %}

    <div class="staffList-filter-container">

    </div>

    <div class="staffList-content">

        <div class="staffList-count-container">
            <p class="staffList-count"> <strong>Total Staff : </strong> {{staffListCount}} </p>
        </div>
        <div class="staffList-table-container">
            <table class="staffList-table">
                <tr>
                    <th class="staffList-table-header">Sl. No.</th>
                    <th class="staffList-table-header">Email</th>
                    <th class="staffList-table-header">Full Name</th>
                    <th class="staffList-table-header">Phone Number</th>
                    <th class="staffList-table-header">Last Login</th>
                </tr>

                {% for staff in staffList %}

                    <tr class="staffList-column-row">
                        <td class="staffList-column"></td>
                        <td class="staffList-column staffList-email"> {{staff.email}} </td>
                        <td class="staffList-column"> {{staff.full_name}} </td>
                        <td class="staffList-column"> {{staff.phone_no}} </td>
                        <td class="staffList-column"> {{staff.last_login}} </td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

</div>
</body>
</html>