{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Pannel | Users Info</title>
    <link rel="stylesheet" href="{% static 'css/usersList.css' %}">
    <link rel="icon" href="{% static 'images/confidentdriver_icon.svg' %}">
</head>
<body>
<div class="user-list-wrapper">
    <div class="user-list-header">
        <img src="{% static 'images/confidentdriverheader400.svg' %}" alt="" class="logo">
        
        <div class="logout-btn">
            <a href="{% url 'logout' %}">LOGOUT</a>
        </div>
    </div>
<!-- nav bar section -->
    {% include 'control_nav_bar.html' %}
<!-- end of nav bar section -->
    <div class="userList-filter-container">

    </div>

    <div class="userList-content">
        
        <div class="user-count-container">
            <p class="user-count"> <strong>Total Users :</strong> {{userListCount}} </p>
        </div>
        
        <div class="userList-table-container">
            <table class="userList-table">
                <tr>
                    <th  class="userList-table-header">Sl. No.</th>
                    <th  class="userList-table-header">Email</th>
                    <th  class="userList-table-header">Full Name</th>
                    <th  class="userList-table-header">Phone No</th>
                    <th  class="userList-table-header">Active Status</th>
                    <th  class="userList-table-header">Address</th>
                    <th  class="userList-table-header">Type of Plan</th>
                    <th  class="userList-table-header">Plan</th>
                    <th  class="userList-table-header">Age</th>
                    <th  class="userList-table-header">Date Joined</th>
                </tr>

                {% for user in userList %}

                    <tr class="userList-column-row">
                        
                        <td  class="userList-table-column">  </td>
                        <td  class="userList-table-column userList-email"> {{user.email}} </td>
                        <td  class="userList-table-column"> {{user.full_name}} </td>
                        <td  class="userList-table-column"> {{user.phone_no}} </td>
                        <td  class="userList-table-column"> {% if user.is_active %} <span class="status-active">Active</span>  {% else %} <span class="status-notactive">Not Active</span>  {% endif %}</td>
                        <td  class="userList-table-column"> {{user.address}} </td>
                        <td  class="userList-table-column"> {{user.type_of_plan}} </td>
                        <td  class="userList-table-column"> {{user.plan}} </td>
                        <td  class="userList-table-column"> {{user.age}} </td>
                        <td  class="userList-table-column"> {{user.date_joined}} </td>
                    </tr>

                {% endfor %}

            </table>
       </div>
    </div>

</div>
</body>
</html>